<!doctype html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Chrunch Press">
<meta name="author" content="Chrunch Press">
<meta name="description" content="Awesome Description Here">
<meta charset="utf-8">
<meta name="keywords"
	content="location, based, messaging, social, network, service, nearby, friends, community, neighborhood, local, events">
<title>Legion</title>
<!--[if lt IE 9]>
<script src="resources/js/html5.js"></script>
<![endif]-->
<!-- Bootstrap core CSS -->
<link href="resources/css/bootstrap.css" rel="stylesheet">
<!-- Add custom CSS here 
<link href="resources/css/color.css" rel="stylesheet">
-->
<link href="resources/css/styles.css" rel="stylesheet">
<link href="resources/css/jquery.bxslider.css" rel="stylesheet">
<!-- Bx-Slider -->
<link href="resources/css/horizontal.css" rel="stylesheet">
<link href="resources/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="resources/js/jquery-ui/jquery-ui.min.css" rel="stylesheet">


<link
	href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"
	rel="stylesheet">
</head>
<body>
	<!-- /. Main Container start ./-->
	<div class="wrapper home">

		<!-- /. Login start ./-->
		<div id="header-login">
			<div class="container">
				<div class="row">
					<div class="col-lg-9 col-md-9">
						<h2>Log in Your Account</h2>
						<div class="login-form">
							<input name="login" type="text" placeholder="Email / Username"
								size="45"> <input name="login" type="password"
								placeholder="Password" size="44"> <input name="login"
								type="button" value="Login" class="btn">
						</div>
					</div>
					<div class="col-lg-3 col-md-3">
						<span class="cross"><a id="cross-active"
							class="cross-login"><i class="fa fa-times"></i></a></span>
						<button class="create-account">Create New Account</button>
					</div>
				</div>
			</div>
		</div>
		<!-- /. Login End ./-->


		<!-- /. Header Start ./-->
		<header id="header">
			<div class="">
				<div class="row header-logo header-container">
					<div class="col-lg-3 col-md-3">
						<div class="logo">
							<a href="index.html"><strong class="logo-home">
									Relax Spa</strong></a>
						</div>
					</div>
					<div class="col-lg-9 col-md-9">
						<div class="hlinks pull-right">
            <ul>
              <li> <a href="cart.html"> <i class="fa fa-shopping-cart"></i> Shoping Cart <span id="cart-info"></span></a></li>
              <li><a href="register.html">Sign up</a></li>
              <li><a href="#">Log In</a></li>
             
            </ul>
          </div>
          </div>
				</div>
				<div class="row">

					<div class="col-lg-12 col-md-12 pull-right">

						<div class="home-menu">
							<div class="navbar mm consumer-header">
								<div>
									<nav class="navbar navbar-default" role="navigation">
										<!-- Brand and toggle get grouped for better mobile display -->
										<div class="navbar-header">
											<button type="button" class="navbar-toggle"
												data-toggle="collapse" data-target="#navbar-collapse-1">
												<span class="sr-only">Toggle navigation</span> <span
													class="icon-bar"></span> <span class="icon-bar"></span> <span
													class="icon-bar"></span>
											</button>
										</div>
										<div id="navbar-collapse-1"
											class="collapse navbar-collapse pull-right">
											<ul class="nav navbar-nav">

												<li class="dropdown"><a href="index.html">About Us</a>
													
												

												</li>
											
												<!-- Classic list -->
												<li class="dropdown">
												   <a href="#" data-toggle="dropdown" 
													class="dropdown-toggle">Products<b class="caret"></b></a>
												
													<div class="bar-background" style="display:none;" id="product-bar">
														sfdsodfsd
													</div>
												</li>

												<!-- Blog -->
												<li class="dropdown"><a href="#" data-toggle="dropdown"
													class="dropdown-toggle">Purchase<b class="caret"></b></a>
													<ul role="menu" class="dropdown-menu">
														<li><a tabindex="-1" href="blog-full.html"> Full
																Width </a></li>
														<li><a tabindex="-1" href="blog-masanary.html">
																Masonry Style </a></li>
														<li><a tabindex="-1" href="blog.html"> Single
																Column (With Sidebar) </a></li>
														<li><a tabindex="-1" href="blog-02-column.html">
																Double Column</a></li>
														<li><a tabindex="-1" href="blog-03-column.html">
																Three Column</a></li>
													</ul></li>
												<!-- Blog End -->

												<!-- Product -->
												<li class="dropdown"><a href="#" data-toggle="dropdown"
													class="dropdown-toggle">Referral Program<b
														class="caret"></b></a>
													<ul role="menu" class="dropdown-menu">
														<li><a tabindex="-1" href="products.html">
																Product Listing </a></li>
														<li><a tabindex="-1" href="product-details.html">
																Product Details</a></li>
														<li><a tabindex="-1" href="cart.html"> Cart </a></li>
														<li><a tabindex="-1" href="checkout.html"> Check
																Out</a></li>
														<li><a tabindex="-1" href="register.html"> Login</a></li>
														<li><a tabindex="-1" href="register.html">
																Register</a></li>
													</ul></li>
												<!-- Product End -->



											</ul>
										</div>
									</nav>
								</div>
							</div>
						</div>
						<!-- /.navbar-collapse -->
					</div>
				</div>
				<div class="side-referal">

					<a href="#">
						<div class="twitter-log"></div>
					</a> 
					<a href="#">
						<div class="facebook-log"></div>
					</a>
				</div>
			</div>
		</header>
		<!-- /. Header End ./-->

		<!-- /.Slider Start ./-->
		<section class="main-slider">

			<div class="slider">
				
				<ul class="header-slider">
					<li>
						<div class="slider-header">
							<h1>THINKING OUT LOUD</h1>
						</div>
						<div class="slider-header-subtitle">
							<h2>Where Products & Services Are Born</h2>
						</div>
						<div class="vertical-logo"></div>
						<span><img src="resources/images/home/slider01.jpg"
							title="Funky roots" alt=""></span>
					</li>
					<li>
						<div class="slider-text">
							<h1>Pageant Beauty Palace</h1>
							<p>Lorem Ipsum is simply dummy text of the printing and
								typesetting industry. Lorem Ipsum has been the industry's
								standard when an unknown printer took a galley.</p>
						</div> <span><img src="resources/images/home/slider02.jpg"
							title="The long and winding road" alt=""></span>
					</li>
					<li>
						<div class="slider-text">
							<h1>Luxury Care</h1>
							<p>Lorem Ipsum is simply dummy text of the printing and
								typesetting industry. Lorem Ipsum has been the industry's
								standard when an unknown printer took a galley.</p>
						</div> <span><img src="resources/images/home/slider03.jpg"
							title="Happy trees" alt=""></span>
					</li>
				</ul>
				<!-- /.Slider End ./-->
			</div>
		</section>

		<!-- /.Slider End ./-->
		<!-- /. Welcome Start ./-->
		<section>
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12">
						<div class="welcome">
							<h2 class="main-title">Welcome To Our Spa Clinic</h2>
							<p class="welcome-txt">Lorem Ipsum is simply dummy text of
								the printing and typesetting industry. Lorem Ipsum has been the
								industry's standard dummy text ever since the 1500s, when an
								unknown printer took a galley of type and scrambled it to make a
								type specimen book. It has survived not only five centuries, but
								also the leap into electronic typesetting, remaining essentially
								unchanged.</p>
							<button onClick="window.location.href='aboutus-01.html'">Read
								More</button>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /. Welcome end ./-->

		<div class="mtop1"></div>

		
		<div class="gap-50"></div>

		<!-- /. Footer Start ./-->
		  <section id="footer">
    <section class="footer-logo">
      <div class="footer-container">
       <div class="row pull-middle">
         FOLLOW US
       </div>
       <div class="row pull-middle">
         <a href="#" class="fb-gray small-logo"></a>
         <a href="#" class="tw-gray small-logo"></a>
       </div>
       <div class="row footer-sparator">
       </div>
       <div class="row footer-vertical-logo">
       </div>
     </div>
   </section>
   <section class="footer-copy">
    <div class="footer-container">
      <div class="row">
        <div class="col-lg-6 left-align">&copy;<strong>Legion Concepts</strong> 2014 All Rights Reserved</div>
        <div class="col-lg-6 pull-right site-footer-links">
          <a href="#">CONTACT</a>
          <a href="#">NEWS</a>
          <a href="#">SITE MAP</a>
          <a href="#">SUBSCRIBE</a>
        </div>
      </div>
    </div>
  </section>
</section>

	</div>
	<!-- main end -->
	<!-- /. Main Container End ./-->
	<!-- JavaScript -->
	<script src="resources/js/jquery-1.10.2.js"></script>
	<script src="resources/js/jquery-ui/jquery-ui.min.js"></script>
	<!-- Main Jquery File -->
	<script src="resources/js/modernizr.custom.39665.js"></script>
	<!-- Modernizer -->
	<script src="resources/js/bootstrap.js"></script>
	<!-- Bootstrap -->
	<script src="resources/js/jquery.easing.1.3.js"></script>
	<!-- Easing -->
	<script src="resources/js/jquery.prettyPhoto.js" type="text/javascript"
		charset="utf-8"></script>
	<!-- Pretty Box -->
	<script src="resources/js/jquery.bxslider.min.js"></script>
	<!-- Bx Slider -->
	<script type="text/javascript" src="resources/js/jquery.parallax-1.1.3.js"></script>
	<!-- Parallax -->
	<script src="resources/js/sly.min.js"></script>
	<script src="resources/js/horizontal.js"></script>
	<script src="resources/js/bootstrap-datetimepicker.min.js"></script>
	<script src="resources/js/jquery.ui.core.js"></script>
	<script src="resources/js/jquery.ui.datepicker.js"></script>
	<script src="resources/js/underscore-min.js"></script>
	<script src="resources/js/cp_loader.js"></script>
	<script src="resources/js/jquery.timepicker.min.js"></script>
	<script>
	$(function() {
		$( "#datepicker" ).datepicker();
		$( "#datepicker2" ).datepicker();
	});
	</script>
	<script src="resources/js/jquery-scrolltofixed-min.js" type="text/javascript"></script>
	<script src="resources/js/custom.js"></script>
	<!-- Custom -->
	<script src="resources/js/lib/hogan2.js"></script>
	<script src="resources/js/controller.js"></script>
	<script src="resources/js/home/home.js"></script>
	
</body>
</html>
